<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health {{ monsterHealth }}%</h2>
        <div class="healthbar">
          <div
            class="healthbar__value"
            :style="generateMonsterHealthStyle"
          ></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health {{ playerHealth }}%</h2>
        <div class="healthbar">
          <div
            class="healthbar__value"
            :style="generatePlayerHealthStyle"
          ></div>
        </div>
      </section>
      <section id="controls">
        <template v-if="isGameOn">
          <button @click="attack">ATTACK</button>
          <button @click="specialAttack">SPECIAL ATTACK</button>
          <button @click="playerHeal">HEAL</button>
          <button @click="surrender">SURRENDER</button>
        </template>
        <template v-else>
          <button @click="startGame">Play</button>
        </template>
      </section>
      <section id="log" class="container" v-if="logs.length !== 0">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in logs" :class="styleLog(log)">
            {{ log.message }} {{ log.isSpecialAttack ? '(Special Attack)' : ""}}
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
